In [ ]:
import pandas as pd

In [ ]:
ratings_df = pd.read_csv('ratings.csv')

In [ ]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
user_id = ratings_df["userId"]

user_id.value_counts()

414    2698
599    2478
474    2108
448    1864
274    1346
       ...
442      20
569      20
320      20
576      20
53       20
Name: userId, Length: 610, dtype: int64

In [ ]:
movie_id = ratings_df["movieId"]

movie_id.value_counts()

356       329
318       317
296       307
593       279
2571      278
         ...
86279       1
86922       1
5962        1
87660       1
163981      1
Name: movieId, Length: 9724, dtype: int64

In [ ]:
rating = ratings_df["rating"]

rating.value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: rating, dtype: int64

In [ ]:
timestamp = ratings_df["timestamp"]

timestamp.value_counts()

1459787998    128
1459787997    124
1459787996     85
1459787995     37
828124616      37
             ...
1467665629      1
1467935459      1
1467936104      1
1467935453      1
1493846415      1
Name: timestamp, Length: 85043, dtype: int64

In [ ]:
ratings_df.rename(columns={"movieId": "id_movie", "userId": "id_user"})

        id_user  id_movie  rating   timestamp
0             1         1     4.0   964982703
1             1         3     4.0   964981247
2             1         6     4.0   964982224
3             1        47     5.0   964983815
4             1        50     5.0   964982931
...         ...       ...     ...         ...
100831      610    166534     4.0  1493848402
100832      610    168248     5.0  1493850091
100833      610    168250     5.0  1494273047
100834      610    168252     5.0  1493846352
100835      610    170875     3.0  1493846415

[100836 rows x 4 columns]

In [ ]:
rating.mean()

3.501556983616962